@import "foundation_and_overrides"
@import "foundation-icons"
@import "swagger-ui"

#header-bar
	background:
		color: #E8E555
	height: 50px
	@media #{$large-up}
		height: 288px
	a 
		height: 50px

.logo
	h1
		color: #58585A
		text-shadow: 3px 3px 7px rgba(150, 150, 150, 0.83)
		bottom: 0px
		margin-bottom: 0px
	margin-left: 10px
	&.show-for-large-up
		margin: 50px auto 0 auto 
		width: 582px
		height: 187px

nav.top-bar
	background:
		color: #58585A
	
.top-bar-section li:not(.has-form) a:not(.button)
	background-color: #58585A

#side-column
	background:
		color: #E5E5E5

#menu
	margin-top: 10px
	i
		color: #E8E555
		font-size: 50px
		float: left
	p
		color: #231F20
		font-size: 25px
		margin-top: 5px
		margin-left: 50px